* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  outline: none;
}
/* centered grid  */
body {
  background: rgba(206, 9, 35, 0.6);
  font-family: ubuntu;
}

@font-face {
  font-family: 'ubuntu';
  src: url('Ubuntu-Medium.ttf');
}

.grid {
  width: 650px;
  height: 200px;
  margin: 0 auto;
}
/* ================  */

.grid p {
  width: 130px;
  margin: 0 auto;
  color: rgba(248, 248, 248, 0.6);
}

/* =============== toolbar ============= */

.toolbar {
  margin: 15px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
}

.toolbar .logo {
  display: flex;
  align-items: center;  
}
.toolbar .logo img {
  height: 30px;
  margin-right: 5px;
}

.toolbar ul {
  list-style: none;
  display: flex;
}

.toolbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; 
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
}

.toolbar ul li:last-child {
  margin-right: 0;
}

.toolbar ul li img {
  height: 12px;
  margin-right: 3px;;
}

.toolbar ul li:nth-child(2) img{
  height: 15px;
  margin-right: 3px;;
}

.toolbar ul li:nth-child(3) {
  padding: 2px 3px;
}

.toolbar ul li:nth-child(3) img{
  height: 26px;
  margin-right: 3px;
}


.toolbar::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 44px;
  left: 0px; 
  margin: 0 auto;
  height: 1px;
  background: rgba(150, 149, 149, 0.2);
}

/* ========================== */

/* timer */
.timer {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 350px;
  margin: 0 auto;  
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 40px 90px 20px;
}

.timer ul li,
.timer button {
  margin: 20px auto;
}

.timer ul li {
  color: #fff;
}

.timer #breaks {
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer #breaks li {
  background: rgba(85, 84, 84, 0.1);
  padding: 5px 10px;
  border-radius: 4px;
  margin: 20px auto 5px;
}

.timer #clock {
  font-size: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer #start {
  padding: 18px 70px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 6px;
  color: rgba(73, 17, 25, 0.5);
  border: 10px rgb(175, 30, 30);
}
.timer ul {
  list-style: none;
}

/* ============================ */


/* todos list */
#app {
  width: 470px;
  margin: 0 auto;
}

#app ul li {
  display: flex;
  align-content: center; 
  justify-content: space-between;  
  list-style: none;
  width: 100%;
  height: 65px;
  background: #fff;
  color: rgb(87, 80, 80);
  border-radius: 8px;
  box-shadow: 1px 10px 15px rgba(0,0,0,.1);
  padding: 20px 15px; 
  margin: 10px 0;
  font-size: 18px;
  overflow: hidden;
}

#app ul li div {
  width: 25px;
  height: 25px;
  background: no-repeat url(images/more.svg)  2px;
  background-size: 5px;
  border: 10px rgb(0, 0, 0);
  border-radius: 3px;
}

.bar ul.divisoria  {
  width: 470px;
  margin: 0 auto; 
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.bar {
  position: relative;
}
.bar::after {
  content: '';
  position: absolute;
  width: 72%;
  top: 78px;
  left: 90px;
  margin: 0 auto;
  height: 2px;
  background: rgb(255, 255, 255,0.5);
}

/* <!-- CORRIGIR O ALINHAMENTO DO TEXTO DEPOIS --> */
.bar ul.divisoria li {  
  display: flex;
  align-content: center;
  width: 20 px;
  padding: 25px 0;
  background: none;
  box-shadow: none;
  font-size: 18px;
  color: #fff;
  font-size: 22px;
}

.bar ul.divisoria li img {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.3);
}

#box {
  display: none;
  height: 270px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 10px 15px rgba(0,0,0,.15);
  padding: 20px;  
}

#box input  {
  font-size: 25px;
  color: rgb(153, 153, 153);
  border: none;
  width: 100%;
  margin: 15px 0 20px;
}

.pomodoros {
  height: 130px;
}

#options {
  display: flex;
  justify-content: space-between;
}

#delete,
#save,
#cancel {
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: rgb(133, 131, 131);
  font-weight: bold;
}

#save {  
  background: rgb(61, 60, 60);
  color: #fff;
  margin-left: 5px;
}

/* ================  */
/* tasks button */
#tasks {
  display: block;    
}
 
#tasks button {
  width: 100%;
  height: 65px;
  margin-top: 10px;
  border-style: dashed;
  border-color: rgb(255, 255, 255,0.4);
  border-radius: 8px;
  background:no-repeat url(images/add.svg) rgb(0, 0, 0,.1) 165px 18px;
  background-size: 20px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255,.5);
}
